.gallery-container {
    height: 80vh;
    overflow-x: auto;
    display: flex;
    margin: 2.5em 0;

    .gallery-image {
        margin-right: .3em;
        height: 100%;
        flex-basis: 22em;
        flex-shrink: 0;
        background: linear-gradient(0deg, rgba(95, 119, 119, 0.20) 0%, rgba(95, 119, 119, 0.20) 100%);
        background-size: cover;
        background-position: center bottom;
    }

    .gallery-image:last-of-type {
        margin-right: 0;
    }
}

@media (min-width: 800px) {

    .gallery-container {
        height: 90vh;

        .gallery-image {
            flex-basis: 36em;
        }
    }
}